.App {
  text-align: center;
  background-color: rgb(238, 238, 177);
}

.card {
  margin: 1em;
  padding: 2em;
  border: 6px solid rgb(127, 0, 255);
  border-radius: 5px;
}

.card-service {
  margin: 1em;
  padding: 2em;
  border-radius: 5px;
  background-color: rgb(189, 124, 255);
}

.card-services {
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
  background-color: rgb(217, 179, 255);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-end;
  padding: .75em;
  font-size: x-large;
  
}
.remembering {
  text-decoration: none;
  font-size: xxx-large;
  font-family: 'Dancing Script';
  margin: .25em;
}
.ayurveda {
  text-decoration: none;
  font-size: xxx-large;
  font-family: 'Anton';
}
.events_blog_about {
  text-decoration: none;
  margin: .25em;
}
.bio {
  text-decoration: none;
  color: black;
}

.services {
text-decoration: none;
color: black;
}

.event_panel_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
}

.event_controls {
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 2em;
}

.events_feed {
  text-decoration: none;
  color: black;
}

.event {
  text-decoration: none;
  color: black;
}

input {
  margin: 1em;
}

textarea {
  resize: none;
}

.button {
  width: 10vw;
}

.bio_container {
  display: flex;
  flex-direction: row;
}
.bio {
  font-size: x-large;
}
.approach {
  font-size: x-large;
}