.App {
  text-align: center;
  background-color: rgb(238, 238, 177);
}

.card {
  margin: 1em;
  padding: 2em;
  border: 2px solid black;
  border-radius: 5px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-end;
  padding: .75em;
  font-size: x-large;
  
}
.remembering {
  text-decoration: none;
  font-size: xxx-large;
  font-family: 'Dancing Script';
  margin: .25em;
}
.ayurveda {
  text-decoration: none;
  font-size: xxx-large;
  font-family: 'Anton';
}
.events_blog {
  text-decoration: none;
  margin: .25em;
}

.event_panel_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
}

.event_controls {
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 2em;
}

input {
  margin: 1em;
}

textarea {
  resize: none;
}

.button {
  width: 10vw;
}